[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "standartox"]
	path = standartox
	url = https://github.com/andschar/standartox
